<header>
    <div>
        <img src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg" alt="logo.png" style="margin-right: 17%;" height="80px"/>
        <br>
    </div>
</header>